brain {

  display: block;
  height: 100%;
  white-space: nowrap;
  transition: transform .2s;

  $height: 24px;

  %panel {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    border-right: 1px solid $gray200;
  }

  .level {
    @extend %panel;
    width: auto;
    background: $gray50;
  }

  .level-tag,
  .level-note {
    height: $height;
    line-height: $height;
    padding: 0 8px;
    cursor: default;
  }

  .level-tag--selected {
    background: $gray200;
  }

  .level-note--selected {
    background: $gray200;
  }

  .level-divider {
    display: block;
    height: 1px;
    background: $gray200;
    margin: 8px 0;
  }

  .note-preview {
    @extend %panel;
    width: 300px;
    max-width: 100%;
    background: $gray50;
  }

  .note-title {
    height: $height;
    line-height: $height;
    padding: 0 8px;
    white-space: nowrap;
  }

  .note-content {
    display: block;
    width: 100%;
    height: auto;
    white-space: normal;

    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;

    border: 0;
    outline: 0;
    padding: $height / 2 8px;
    background: transparent;
  }

  .note-tags {
    padding: 0 4px;
    white-space: normal;
  }

  .note-tag {
    display: inline-block;
    margin: 4px;
    padding: 2px 4px;
    border-radius: 1px;
    background: $gray200;
    cursor: default;
  }

}
