<div class="level" ng-repeat="level in $ctrl.levels" ng-init="$currentLevel=$index">
  <div class="level-tag"
    ng-class="{'level-tag--selected': levelTag.tag === level.selectedTag}"
    ng-repeat="levelTag in level.tags"
    ng-bind="levelTag.tag"
    ng-mouseenter="$ctrl.goToNextLevel($currentLevel, levelTag)"
    ng-mouseover="$ctrl.onTagMouseover($event)">
  </div>
  <div class="level-divider"></div>
  <div class="level-note"
    ng-repeat="levelNote in level.notes"
    ng-bind="levelNote.title"
    ng-mouseenter="$ctrl.openNote(levelNote._id)"
    ng-mouseover="$event.stopPropagation()">
  </div>
</div>
<section class="note-preview" ng-if="$ctrl.note" ng-mouseover="$event.stopPropagation()">
  <header ng-bind="$ctrl.note.title" class="note-title"></header>
  <textarea readonly ng-bind="$ctrl.note.content" class="note-content"></textarea>
</section>
