<form ng-submit="$ctrl.putNote()">
  <input type="text"
    ng-model="$ctrl.title"
    class="note-title"
    placeholder="Title"
    title="Enter note title">
  <textarea
    ng-model="$ctrl.content"
    class="note-content"
    placeholder="Enter content">
  </textarea>
  <tags-input
    class="note-tags"
    ng-model="$ctrl.tags"
    min-length="1"
    add-on-blur="false"
    replace-spaces-with-dashes="false"
    enable-editing-last-tag="true"
    placeholder="Add tag">
  </tags-input>
  <input type="submit"
    value="Submit note"
    class="note-submit"
    title="Submit this note">
  <button type="button"
    ng-if="$ctrl.$stateParams.note"
    ng-click="$ctrl.deleteNote()">
    Delete
  </button>
</form>
