note {

  display: block;

  .note-title {
    width: 100%;
  }

  .note-content {
    display: block;
    width: 100%;
    resize: none;
    height: 200px;
  }

  .note-tags {
    width: 100%;
  }

  .note-submit {
  }

}
