@import 'scss/index';

html, body {
  height: 100%;
}

body {
  @extend %helvetica;
  @extend %font-medium;
  @extend %font-normal;
  color: #333;
}

navbar {
  height: $navbar-height;
}

#uiRoot {
  height: calc(100% - #{$navbar-height});
}

@import 'src/brain/brain';
@import 'src/janitor/janitor';
@import 'src/navbar/navbar';
@import 'src/note/note';
